/* Importing goole the outfit google font */

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;500&family=Roboto:wght@400;500;700&display=swap');

/* General body styles */

body {
    font-family: 'Helvetica', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #0B0621;
    color: #fff;
    line-height: 1.4;
    width: 86%;
    margin: auto;
}

/* styling the hamburger menu for smaller screens */

.hamburger{
    display: none;
    cursor: pointer;
}

.menu{
    display: none;
}

/* .hidden{
    display: none !important;
} */

.hamburger > span{
    border: 1px solid #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    padding: 2px;
    /* transition: all 0.5s ease-out; */
}

/* styling the navbar */

nav{
    /* background-color: rgb(0, 0, 0); */
    height: 80px;
    width: 94%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Outfit', sans-serif;
    font-family: 'Roboto', sans-serif;
}

nav > .navlinks > ul > li{
    display: inline;
    font-size: 20px;
    font-weight: 400;
}

nav > .logo > a, .navlinks > ul > li > a{
    text-decoration: none;
    color: #fff;
}

nav > .logo{
    font-size: 26px;
    font-weight: bold;
}

.navlinks > ul, .socials > ul{
    display: flex;
    gap: 46px;
    align-items: center;
    padding: 10px;
    list-style: none;
    margin: 0px;
    padding-inline-start: 0px;
}

.login-btn > a{
    background-color: #1840CF;
    padding: 4px 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 24px;
}

/* Styling the introduction section */

.intro{
    padding: 30px 20px;
    width: 90%;
    margin: auto;
    /* background-color: rgb(25, 84, 65); */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.profile, .desc{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.intro > .desc > h1{
    width: clamp(0px, 100%, 460px);
    font-size: 44px;
    margin-bottom: 0px;
}

.intro > .desc > h2{
    width: clamp(0px, 100%, 460px);
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 32px;
}

.intro > .desc > p{
    width: clamp(0px, 100%, 460px);
    font-size: 20px;
}

.intro > .profile > img{
    width: 360px;
}

.services, .skills{
    /* background-color: rgb(85, 80, 73); */
    width: 90%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

/* Styling all the page's titles */

.services > .title, .skills> .title, .works > .title, .getintouch > .title{
    display: flex;
    align-items: center;
    gap: 16px;
    font-size: 24px;
    padding-left: 100px;
    margin-bottom: 50px;
}

.title > .line{
    position: relative;
    top: 2px;
    width: 80px;
    height: 3px;
    background-color: #fff;
}

/* Styling myservices section */

.myservices{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.myservices > div >img{
    width: 90px;
    height: 90px;
}

.myservices > div{
    border: 1px solid #fff;
    width: 280px;
    height: 290px;
    border-radius: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    text-align: center;
}

.myservices > div > p{
    margin: 0px;
    font-size: 16px;
}

/* Styling myskills section */

.myskills > div > img{
    width: 100px;
    height: 100px;
}

.myskills > div{
    width: 250px;
    padding: 20px 10px;
    /* height: 340px; */
    border: 1px solid #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 14px;
}

.myskills > div > h3{
    margin: 20px 0px;
}

.myskills > div > p{
    margin: 0px;
}

.myskills{
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

/* Styling myworks section */

.myworks{
    width: 90%;
    margin: auto;
}

.myworks > div{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin-bottom: 100px;
}

.myworks > div > .image{
    height: 500px;
    flex: 1;
}

.myworks > div > .desc{
    flex: 1;
}

.myworks > div > .desc{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.myworks > div > .desc > h3{
    margin-bottom: 0px;
}

.myworks > div > .desc > p{
    width: clamp(0px, 100%, 400px);
    font-size: 18px;
}

.myworks > div:first-child > .image{
    background: url(../images/restaurantpage.JPG);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.myworks > div:nth-child(2) > .image{
    background: url(../images/battleship.JPG);
    background-size: cover;
    background-position: center;
}

.myworks > div:nth-child(3) > .image{
    background: url(../images/landingpage.JPG);
    background-size: cover;
    background-position: center;
}

.myworks > div > .desc > .buttons{
    margin-top: 20px;
    display: flex;
    gap: 30px;
}

.myworks > div > .desc > .buttons > a > button{
    padding: 12px 36px;
    border-radius: 26px;
    cursor: pointer;
    color: #fff;
    border: none;
    background-color: #1840CF;
    font-size: 18px;
}

/* Styking the view more button on myworks section */

.viewbtn{
    width: 260px;
    font-size: 16px;
    /* padding: 12px 36px; */
    padding: 12px 0px;
    border-radius: 26px;
    cursor: pointer;
    color: #fff;
    border: none;
    background-color: #1840CF;
    font-size: 16px;
}

button > a {
    color: #fff;
    text-decoration: none;
}

/* Styling the contact me section */

.contactme{
    display: flex;
    width: 80%;
    margin: auto;
    margin-bottom: 60px;
}

.contact{
    flex: 1;
}

.contact > p{
    width: clamp(0px, 100%, 240px);
}

.register > form >  button{
    margin-top: 20px;
    padding: 10px 20px;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 12px;
    width: 140px;
    font-size: 18px;
    cursor: pointer;
}

.info{
    flex: 1;
    width: 415px;
}

/* Styling the contact me form */

form{
    width: 263px;
    display: flex;
    flex-direction: column;
}

label{
    margin-bottom: 15px;
    position: relative;
    border-bottom: 2px solid #fff;
    color: #fff;
    font-size: 14px;
}

input, textarea{
    width: 263px;
    padding: 10px 0px;
    margin-top: 20px;
    color: #fff;
    font-size: 16px;
    background-color: #0B0621;
    border: none;
    outline: none;
}

textarea{
    padding: 0px;
}

input::placeholder{
    opacity: 0;
}

label > span{
    color: #757575;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(30px);
    transition-duration: 300ms;
    font-size: 16px;
}

label:focus-within > span,
input:not(:placeholder-shown) + span{
    transform:translateY(10px);
}


/* Styling the info section */

.info {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 40px;
}

.info > h2{
    margin-bottom: 0px;
}

.info > div{
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: flex-start;
}

.phys-address{
    display: flex;
    flex-direction: column;
}

.info > div > img{
    width: 40px;
    height: 40px;
}
.email{
    width: 30px;
    height: 30px;
}

.info > div > div >h4{
    margin: 3px 0px;
}

/* Styling the footer */

footer {
    margin: 0px 0px 30px 0px;
    text-align: center;
    font-size: 18px;
}





/* Media queries for making the page responsive */

/* Screens under 1300px wide */

@media screen and (max-width: 1300px){
    /* making the myservices section reponsive */
    .services{
        width: 96%;
    }

    .myservices > div{
        width: 220px;
    }
}


/* screens under 990px wide */

@media screen and (max-width: 990px) {
    /* making the navlinks responsive */
    .navlinks > ul, .socials > ul{
        gap: 20px;
    }
    /* making the intro section responsive */

    .intro > .desc > h1{
        font-size: 34px;
    }

    .intro > .desc > h2{
        font-size: 22px;
    }

    .intro > .desc > p{
        font-size: 18px;
    }

    .intro > .profile > img{
        width: 280px;
    }

    .intro{
        padding: 10px;
    }

    .profile{
        align-items: flex-end;
    }
    /* making the my services section responsive */

    .services{
        width: 96%;
        margin-top: 30px;
    }

    /* making the myworks sectoìion responsive */

    .works{
        width: 96%;
        margin: auto;
    }

    /* adjusting the titles in the center for less screen size */

    .services > .title, .skills > .title, .works > .title, .getintouch > .title{
        padding-left: 0px;
        text-align: center;
        justify-content: center;
    }

    .myservices > div >img{
        width: 70px;
        height: 70px;
    }

    .myservices > div{
        width: 200px;
        height: 300px;
    }

    .myservices{
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 30px;
    }

    .contactme{
        width: 94%;
        margin: auto;
        gap: 30px;
    }
}


/* screens under 897px */

@media screen and (max-width: 897px) {

    .myworks > div > .desc > .buttons > a > button{
        font-size: 16px;
        padding: 12px 22px;
    }
}


/* screens under 728px */

@media screen and (max-width: 728px){
    .skills{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .getintouch{
        width: 94%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .getintouch > .contactme{
        margin-left: 20px;
    }

    .contactme, .info{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
}

/* screens under 720px */

@media screen and (max-width: 720px) {
    body{
        width: 92%;
        margin: auto;
    }

    nav{
        height: 60px;
    }

    nav > .logo{
        font-size: 20px;
    }

    nav > .navlinks > ul > li{
        font-size: 18px;
    }

    .intro > .desc > p{
        font-size: 16px;
    }

    .myworks > div > .desc > .buttons{
        gap: 16px;
    }
}


/* screens under 675px */


@media screen and (max-width: 675px) {
    body{
        width: 86%;
        margin: auto;
    }

    .hide{
        display: none;
    }

    /* .navlinks{
        display: none;
    }

    .socials{
        display: none;
    } */

    /* .navlinks{
        position: absolute;
        background-color: red;
        margin-top: 100px;
    }

    .navlinks > ul{
        display: flex;
        flex-direction: column;
        margin-top: 100px;
    } */

    .menu{
        position: fixed;
        padding-top: 100px;
        z-index: 100;
        min-height: 100vh;
        min-width: 86%;
        top: 0px;
        background-color: #0B0621;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;
        /* justify-content: center; */
    }

    .menu > footer{
        position: absolute;
        bottom: 160px;
    }

    .menu > .navlinks > ul{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .menu > .socials > ul{
        gap: 50px;
    }

    .menu > .navlinks > ul > li{
        font-size: 24px;
    }

    .show{
        display: block;
    }

    .hidden{
        display: none !important;
    }

    .hamburger{
        margin-top: 30px;
        /* position: fixed; */
        display: block;
        z-index: 999;
    }

    .logo{
        /* position: fixed; */
        margin-top: 30px;
        z-index: 999;
    }

    nav{
        width: 86%;
        margin: auto;
    }

    .intro > .profile > img{
        margin-top: 20px;
        width: 200px;
    }

    .intro > .desc > h1{
        margin-top: 0px;
    }

    .intro > .desc > h1{
        font-weight: lighter;
    }

    .intro{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;
    }

    .myworks > div{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 60px;
        gap: 10px;
        text-align: center;
    }

    .myworks > div > .desc{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .myworks > div > .desc > h3{
        margin: 10px 0px;
    }

    .myworks > div > .desc > p{
        margin: 0px 0px 6px 0px;
    }

    .myworks > div > .image{
        width: 300px;
        min-height: 350px;
        flex: 1;
    }

    .myworks > div > .desc > .buttons > a > button{
        padding: 12px 30px;
    }

}


/* screens under 622px */

@media screen and (max-width: 622px) {
    .services{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}


/* screens under 445px */


@media screen and (max-width: 445px) {
    .myskills > div > p{
        display: none;
    }

    .myskills > div > h3{
        margin: 6px 0px;
        font-size: 16px;
    }

    .myskills > div {
        border: none;
        width: 100px;
        padding: 0px;
    }

    .skills{
        width: 100%;
    }

    .myskills {
        width: 100%;
        display: flex;
        gap: 10px;
    }

    .myskills > div > img{
        width: 70px;
        height: 70px;
        border-radius: 50%;
    }

    .myworks{
        width: 96%;
    }
}


/* screens under 400px */


@media screen and (max-width: 400px){
    .myworks > div > .image{
        width: 100%;
        min-height: 300px;
        flex: 1;
    }

    .myworks > .desc > p{
        width: 100%;
    }

    .myworks > div > .desc > .buttons{
        gap: 10px;
    }
}

/* screens under 360px */

@media screen and (max-width: 360px){
    .myworks > div > .desc > .buttons {
        display: flex;
        flex-direction: column;
    }

    .getintouch{
        width: 90%;
        margin: auto;
    }

    .getintouch > .contactme{
    margin-left: 20px;
    }

    .info > div{
        gap: 10px;
    }
}
