/* Importing goole the outfit google font */

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;500&family=Roboto:wght@400;500;700&display=swap');

body {
    font-family: 'Helvetica', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #0B0621;
    color: #fff;
    line-height: 1.4;
    width: 86%;
    margin: auto;
}

.hamburger{
    display: none;
    cursor: pointer;
}

.hamburger > span{
    border: 1px solid #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    padding: 2px;
}

nav{
    /* background-color: rgb(0, 0, 0); */
    height: 80px;
    width: 94%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Outfit', sans-serif;
    font-family: 'Roboto', sans-serif;
}

nav > .navlinks > ul > li{
    display: inline;
    font-size: 20px;
    font-weight: 400;
}

nav > .logo > a, .navlinks > ul > li > a{
    text-decoration: none;
    color: #fff;
}

nav > .logo{
    font-size: 26px;
    font-weight: bold;
}

.navlinks > ul, .socials > ul{
    display: flex;
    gap: 46px;
    align-items: center;
    padding: 10px;
    list-style: none;
    margin: 0px;
    padding-inline-start: 0px;
}

.login-btn{
    background-color: #1840CF;
    padding: 4px 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 24px;
}

.intro{
    padding: 30px 20px;
    width: 90%;
    margin: auto;
    /* background-color: rgb(25, 84, 65); */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.profile, .desc{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.intro > .desc > h1{
    width: clamp(0px, 100%, 460px);
    font-size: 44px;
    margin-bottom: 0px;
}

.intro > .desc > h2{
    width: clamp(0px, 100%, 460px);
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 32px;
}

.intro > .desc > p{
    width: clamp(0px, 100%, 460px);
    font-size: 20px;
}

.intro > .profile > img{
    width: 360px;
}

.services, .skills{
    /* background-color: rgb(85, 80, 73); */
    width: 90%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

.services > .title, .skills> .title, .works > .title, .getintouch > .title{
    display: flex;
    align-items: center;
    gap: 16px;
    font-size: 24px;
    padding-left: 100px;
    margin-bottom: 50px;
}

.title > .line{
    position: relative;
    top: 2px;
    width: 80px;
    height: 3px;
    background-color: #fff;
}

.myservices{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.myservices > div >img{
    width: 90px;
    height: 90px;
}

.myservices > div{
    border: 1px solid #fff;
    width: 280px;
    height: 290px;
    border-radius: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    text-align: center;
}

.myservices > div > p{
    margin: 0px;
    font-size: 16px;
}

.myskills > div > img{
    width: 100px;
    height: 100px;
}

.myskills > div{
    width: 250px;
    padding: 20px 10px;
    /* height: 340px; */
    border: 1px solid #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 14px;
}

.myskills > div > h3{
    margin: 20px 0px;
}

.myskills > div > p{
    margin: 0px;
}

.myskills{
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.myworks{
    width: 90%;
    margin: auto;
}

.myworks > div{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin-bottom: 100px;
}

.myworks > div > .image{
    height: 500px;
    flex: 1;
}

.myworks > div > .desc{
    flex: 1;
}

.myworks > div > .desc{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.myworks > div > .desc > h3{
    margin-bottom: 0px;
}

.myworks > div > .desc > p{
    width: clamp(0px, 100%, 400px);
    font-size: 18px;
}

.myworks > div:first-child > .image{
    background: url(images/restaurantpage.JPG);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.myworks > div:nth-child(2) > .image{
    background: url(images/battleship.JPG);
    background-size: cover;
    background-position: center;
}

.myworks > div:nth-child(3) > .image{
    background: url(images/landingpage.JPG);
    background-size: cover;
    background-position: center;
}

.myworks > div > .desc > .buttons{
    margin-top: 20px;
    display: flex;
    gap: 30px;
}

.myworks > div > .desc > .buttons > button{
    padding: 12px 36px;
    border-radius: 26px;
    cursor: pointer;
    color: #fff;
    border: none;
    background-color: #1840CF;
    font-size: 18px;
}

.viewbtn{
    width: 260px;
    font-size: 16px;
    /* padding: 12px 36px; */
    padding: 12px 0px;
    border-radius: 26px;
    cursor: pointer;
    color: #fff;
    border: none;
    background-color: #1840CF;
    font-size: 16px;
}





@media screen and (max-width: 1300px){
    .services{
        width: 96%;
    }

    .myservices > div{
        width: 220px;
    }
}

@media screen and (max-width: 990px) {
    .navlinks > ul, .socials > ul{
        gap: 20px;
    }

    .intro > .desc > h1{
        font-size: 34px;
    }

    .intro > .desc > h2{
        font-size: 22px;
    }

    .intro > .desc > p{
        font-size: 18px;
    }

    .intro > .profile > img{
        width: 280px;
    }

    .intro{
        padding: 10px;
    }

    .profile{
        align-items: flex-end;
    }

    .services{
        width: 96%;
        margin-top: 30px;
    }

    .works{
        width: 96%;
        margin: auto;
    }

    .services > .title, .skills > .title, .works > .title, .getintouch > .title{
        padding-left: 0px;
        text-align: center;
        justify-content: center;
    }

    .myservices > div >img{
        width: 70px;
        height: 70px; 
    }

    .myservices > div{
        width: 200px;
        height: 300px;
    }

    .myservices{
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 30px;
    }
}

@media screen and (max-width: 897px) {

    .myworks > div > .desc > .buttons > button{
        font-size: 16px;
        padding: 12px 22px;
    }
}


@media screen and (max-width: 728px){
    .skills{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 720px) {
    body{
        width: 92%;
        margin: auto;
    }

    nav{
        height: 60px;
    }

    nav > .logo{
        font-size: 20px;
    }

    nav > .navlinks > ul > li{
        font-size: 18px;
    }

    .intro > .desc > p{
        font-size: 16px;
    }

    .myworks > div > .desc > .buttons{
        gap: 16px;
    }
}

@media screen and (max-width: 675px) {
    body{
        width: 86%;
        margin: auto;
    }

    .navlinks{
        display: none;
    }

    .socials{
        display: none;
    }

    .hamburger{
        display: block;
    }

    nav{
        width: 86%;
        margin: auto;
    }

    .intro > .profile > img{
        margin-top: 20px;
        width: 200px;
    }

    .intro > .desc > h1{
        margin-top: 0px;
    }

    .intro > .desc > h1{
        font-weight: lighter;
    }

    .intro{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;
    }

    .myworks > div{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 60px;
        gap: 10px;
        text-align: center;
    }

    .myworks > div > .desc{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .myworks > div > .desc > h3{
        margin: 10px 0px;
    }

    .myworks > div > .desc > p{
        margin: 0px 0px 6px 0px;
    }

    .myworks > div > .image{
        width: 300px;
        min-height: 350px;
        flex: 1;
    }

    .myworks > div > .desc > .buttons > button{
        padding: 12px 30px;
    }

}

@media screen and (max-width: 622px) {
    .services{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}


@media screen and (max-width: 445px) {
    .myskills > div > p{
        display: none;
    }

    .myskills > div > h3{
        margin: 6px 0px;
        font-size: 16px;
    }

    .myskills > div {
        border: none;
        width: 100px;
        padding: 0px;
    }

    .skills{
        width: 100%;
    }

    .myskills {
        width: 100%;
        display: flex;
        gap: 10px;
    }

    .myskills > div > img{
        width: 70px;
        height: 70px;
        border-radius: 50%;
    }
}

@media screen and (max-width: 400px){
    .myworks > div > .image{
        width: 100%;
        min-height: 300px;
        flex: 1;
    }

    .myworks > .desc > p{
        width: 100%;
    }

    .myworks > div > .desc > .buttons{
        gap: 10px;
    }
}

@media screen and (max-width: 360px){
    .myworks > div > .desc > .buttons {
        display: flex;
        flex-direction: column;
    }
}