@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;500&family=Roboto:wght@400;500;700&display=swap');

body {
    font-family: 'Helvetica', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #0B0621;
    color: #fff;
    line-height: 1.4;
    width: 86%;
    margin: auto;
}

.hamburger{
    display: none;
    cursor: pointer;
}

.hamburger > span{
    border: 1px solid #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    padding: 2px;
}

nav{
    /* background-color: rgb(0, 0, 0); */
    height: 80px;
    width: 94%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Outfit', sans-serif;
    font-family: 'Roboto', sans-serif;
}

nav > .navlinks > ul > li{
    display: inline;
    font-size: 20px;
    font-weight: 400;
}

nav > .logo > a, .navlinks > ul > li > a{
    text-decoration: none;
    color: #fff;
}

nav > .logo{
    font-size: 26px;
    font-weight: bold;
}

.navlinks > ul, .socials > ul{
    display: flex;
    gap: 46px;
    align-items: center;
    padding: 10px;
    list-style: none;
    margin: 0px;
    padding-inline-start: 0px;
}

.login-btn{
    background-color: #1840CF;
    padding: 4px 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 24px;
}

.intro{
    padding: 30px 20px;
    width: 90%;
    margin: auto;
    /* background-color: rgb(25, 84, 65); */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.profile, .desc{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.intro > .desc > h1{
    width: clamp(0px, 100%, 460px);
    font-size: 44px;
    margin-bottom: 0px;
}

.intro > .desc > h2{
    width: clamp(0px, 100%, 460px);
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 32px;
}

.intro > .desc > p{
    width: clamp(0px, 100%, 460px);
    font-size: 22px;
}

.intro > .profile > img{
    width: 360px;
}

.services{
    /* background-color: rgb(85, 80, 73); */
    width: 90%;
    margin: auto;
    margin-top: 100px;
}

.services > .title{
    display: flex;
    align-items: center;
    gap: 16px;
    font-size: 24px;
    padding-left: 100px;
}

.title > .line{
    position: relative;
    top: 2px;
    width: 80px;
    height: 3px;
    background-color: #fff;
}





@media screen and (max-width: 990px) {
    .navlinks > ul, .socials > ul{
        gap: 20px;
    }

    .intro > .desc > h1{
        font-size: 34px;
    }

    .intro > .desc > h2{
        font-size: 22px;
    }

    .intro > .desc > p{
        font-size: 18px;
    }

    .intro > .profile > img{
        width: 280px;
    }

    .intro{
        padding: 10px;
    }

    .profile{
        align-items: flex-end;
    }
}

@media screen and (max-width: 720px) {
    body{
        width: 92%;
        margin: auto;
    }

    nav{
        height: 60px;
    }

    nav > .logo{
        font-size: 20px;
    }

    nav > .navlinks > ul > li{
        font-size: 18px;
    }

    .intro > .desc > p{
        font-size: 16px;
    }
}

@media screen and (max-width: 675px) {
    body{
        width: 86%;
        margin: auto;
    }

    .navlinks{
        display: none;
    }

    .socials{
        display: none;
    }

    .hamburger{
        display: block;
    }

    nav{
        width: 86%;
        margin: auto;
    }

    .intro > .profile > img{
        margin-top: 20px;
        width: 200px;
    }

    .intro > .desc > h1{
        margin-top: 0px;
    }

    .intro > .desc > h1{
        font-weight: lighter;
    }

    .intro{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;
    }

}